<div id="<%= dom_id environment_state_attribute %>">
  <p>
    <strong>Name:</strong>
    <%= environment_state_attribute.name %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= environment_state_attribute.values %>
  </p>

  <p>
    <strong>Environment state:</strong>
    <%= environment_state_attribute.environment_state_id %>
  </p>

</div>
