<div id="<%= dom_id operation_attribute %>">
  <p>
    <strong>Name:</strong>
    <%= operation_attribute.name %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= operation_attribute.values %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= operation_attribute.operation_id %>
  </p>

</div>
