<h1>Editing environment state</h1>

<%= render "form", environment_state: @environment_state %>

<br>

<div>
  <%= link_to "Show this environment state", @environment_state %> |
  <%= link_to "Back to environment states", environment_states_path %>
</div>
