<div id="<%= dom_id user_attribute %>">
  <p>
    <strong>User:</strong>
    <%= user_attribute.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user_attribute.name %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= user_attribute.values %>
  </p>

</div>
