<div id="<%= dom_id device_attribute %>">
  <p>
    <strong>Name:</strong>
    <%= device_attribute.name %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= device_attribute.values %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= device_attribute.device_id %>
  </p>

</div>
